@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

/* Color Scheme 
#16558f
#0583d2
#61b0b7
#b8e3ff
*/

br
{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}


/* base styles */
* {
  margin: 0;
  font-family: "Roboto";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #16558f;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #0583d2;
}
.content {
  max-width: 70%;
  margin: 40px auto;
  padding: 20px;
}
.companyinfo{
  text-indent: 15px;
  text-align: left;
}
.companyinfoprice{
  text-indent: 15px;
  font-weight: 400;
  text-align: left;
}
.analysisheading{
  text-indent: 25px;
  text-align: left;
}
.increasingperc{
  color: #61b0b7;
  font-weight: 300;
}
.decreasingperc{
  color: #16558f;
  font-weight: 300;
}
.lefttext{
  text-align: left;
}
.rightbartext{
  margin-top: 3px;
  text-align: left;
  text-indent: 5px;
}
.tickersearch {
  border-radius: 10px;
  border: 0px solid #000000;
  background-color: #e9e9e9;
  width: 225px;
  height: 35px;
  text-indent: 20px;
  font-size: 18px;
  margin-left: 34px;
}
.options {
  color: #ffffff;
}
.settingslabel{
  font-size: 18px;
  font-weight: 300;
}
.resultvalues{
  color:#0583d2;
}
.finalresults{
  font-size: 19px;
}
.epvvalue{
  color: #16558f;
  font-weight: 600;
}
.barstext {
  color: #ffffff;
  text-align: left;
  font-size: 10px;
  padding-top: 16px;
  text-indent: 5px;
}
.searchbutton{
  background-color: #ffffff00;
  border-color: #ffffff00;
  /* padding-top: 4px; */
  /* display: flex; */
  /* align-items: center; */
  width: 36px;
  height: 36px;
  align-items: center;
}
.searchimage{
  margin-top: 1px;
  width: 28px;
  height: 28px;
}

::placeholder {

}


.centerbox {
  width: 1000px;
  height: 600px;
  margin: 0;
  position: absolute;
  /* display: flex; */
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* background-color: #16558f; */
}
.searchbox {
  float: left;
  width: 400px;
  height: 85%;
  background-color: #ffffff;
  border-radius: 25px;
  border: 2px solid #000000;
  position: absolute;
  /* box-shadow: 0px 0px 10px #b8e3ff */
}
.searchboxform{
  align-items: center;
}
.infobox {
  float: right;
  width: 440px;
  height: 100%;
  background-color: #f9f9f9;
  /* position: center; */
  border-radius: 25px;
  
}
.displaypart {
  /* background-color: orange; */
  height: 90%; 
  width: 90%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
}
.infoboxseperatorfirst {
  width: 195px;
  text-align: left;
  font-size: 20px;
  /* text-indent: 25px; */
}
.infoboxseperatorlast {
  width: 195px;
  text-align: left;
  font-size: 20px;
  /* text-indent: 25px; */
}
.settingsbox {
  width: 140px;
  height: 30px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;
  margin-top: 6px;
  text-indent: 6px;
}
.spacing{
  width: 25px;
  height: 1px;
  background-color: #f9f9f9;
}
.chartBox{
  width: 300px;
  /* height: 300px; */
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: black;
  margin: auto;
  /* width: 50%; */
}
.center {
  
  
  padding: 10px;
}